.main_content
  .main_content-box
    .article-list
      - @posts.each do |p|
        .article.b-article
          %figre.article-image
            = image_tag p.image.url,class:'image'
          .article_text-box
            .article_text-box-top
              %p.article_logo BLOG
              %a{href:'#',class:'article_title'}
                .article_title-b
                  = p.title
                %p.article_time
                  = p.created_at.strftime("%Y.%m.%d %H:%M")
                %p.article_summary
                  = simple_format(p.text.truncate(150))
            .article_text-box-bottom
