.main_content
  .main_content-box
    .article-list
      .article.b-article
        %figre.article-image
          = image_tag asset_path('baby.jpeg'),class:'image'
        .article_text-box
          .article_text-box-top
            %p.article_logo BLOG
            %a{href:'#',class:'article_title'}
              %h2.article_title-b 眠そうですね。ママも眠いです。
              %p.article_time 2020.07.06
              %p.article_summary
                今日は6時に起きて活動開始
                %br
                7時まで寝て欲しかったけど、寝なかったのでママも活動開始。
                %br
                %br
                昨日作って置いたホットケーキを朝ごはんに、千疋屋の高いマンゴーを吐き出す息子。
                %br
                高いのだから食べてよ...
          .article_text-box-bottom
            %ul.article_tag
              %li.article_tag-name
                %a{href:'#',class:'tag_link'}
                  Baby
      .article.b-article
        %figre.article-image
          = image_tag asset_path('baby.jpeg'),class:'image'
        .article_text-box
          .article_text-box-top
            %p.article_logo BLOG
            %a{href:'#',class:'article_title'}
              %h2.article_title-b 眠そうですね。ママも眠いです。
              %p.article_time 2020.07.06
              %p.article_summary
                今日は6時に起きて活動開始
                %br
                7時まで寝て欲しかったけど、寝なかったのでママも活動開始。
                %br
                %br
                昨日作って置いたホットケーキを朝ごはんに、千疋屋の高いマンゴーを吐き出す息子。
                %br
                高いのだから食べてよ...
          .article_text-box-bottom