%footer.main_footer
  .main_footer-left
    .footer_title
      Baby BLOGs
    .footer_sns
      EXPAND
      = link_to '#' do
        %i.fab.fa-twitter
      = link_to '#' do
        %i.fab.fa-facebook-square
  .main_footer-right
