%footer.main_footer
  .main_footer-left
    = link_to 'Baby BLOGs', root_path,class:'footer_title'
    .footer_sns
      EXPAND → 
      = link_to '#' do
        %i.fab.fa-twitter
      = link_to '#' do
        %i.fab.fa-facebook-square
  .main_footer-right
