= render 'posts/loading'
.container
  %header.top
    .top_logo
      .top_logo-name Baby BLOGs
    %figure.top_logoarea
      = image_tag asset_path('top.jpeg'), class: "top_logoarea-image"
  .fake
  .main
    = render 'posts/header'
    = render 'posts/blog'