.container
  %header.top
    .top_logo
      .top_logo-name Baby BLOGs
    %figure.top_logoarea
      = image_tag asset_path('top.jpeg'), class: "top_logoarea-image"
  .fake
  .main
    %header.main_header
      %h1.main_header-title
        = link_to 'Baby BLOGs', "#",class:'main_header-titlelogo'
    .main_content