.new_session{
  background: rgb(248, 246, 242);
  position: fixed;
  top: 0;
  left: 0;
  width: 55%;
  height: 100%;
  font-family: 'Courier New','fantasy';
}


// 画像配置
.newuser_image {
  position: fixed;
  top: 0;
  right: 0;
  width: 45%;
}