.main_footer{
  position: relative;
  z-index: 300;
  height: 300px;
  width: 100%;
  background: rgb(201, 198, 193);
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  &-left{
    position: relative;
    height: 100%;
    width: 380px;
    margin: 0 100px 0 40px;
    font-family: 'Courier New','fantasy';
    font-weight: 100;
    .footer_title{
      position: absolute;
      top: 100px;
      left: 60px;
      font-size: 45px;
      color: rgb(58, 58, 58);
    }
    .footer_sns{
      position: absolute;
      top: 160px;
      left: 70px;
      font-size: 20px;
      .fa-twitter{
        color: ivory;
      }
      .fa-twitter:hover{
        color: #1b95e0;
      }
      .fa-facebook-square{
        color: ivory;
      }
      .fa-facebook-square:hover{
        color: #4267b2;
      }
    }
  }
  &-center{
    width: 30%;
    height: 300px;
    .menu{
      margin: 70px 0 0 30px;
      &_list{
        margin-bottom: 10px;
        // 後でまとめる
        &-btn{
          font-size: 13px;
          color: rgb(58, 58, 58);
          position: relative;
          padding-bottom: 3px;
          -webkit-transition: color .25s cubic-bezier(.215,.61,.355,1) 0s;
          transition: color .25s cubic-bezier(.215,.61,.355,1) 0s;
          z-index: 1;
        }
        &-btn:after{
          position: absolute;
          bottom: -4px;
          left: 0;
          content: '';
          width: 100%;
          height: 1px;
          background: rgb(58, 58, 58);
          transform: scale(0, 1);
          transform-origin: left top;
          transition: transform .4s;
        }
        &-btn:hover::after{
          transform: scale(1, 1);
        }
      }
    }
  }
  &-right{
    width: 30%;
    height: 300px;
    .menu{
      margin: 70px 0 0 30px;
      &_list{
        margin-bottom: 10px;
        // 後でまとめる
        &-btn{
          font-size: 13px;
          color: rgb(58, 58, 58);
          position: relative;
          padding-bottom: 3px;
          -webkit-transition: color .25s cubic-bezier(.215,.61,.355,1) 0s;
          transition: color .25s cubic-bezier(.215,.61,.355,1) 0s;
          z-index: 1;
        }
        &-btn:after{
          position: absolute;
          bottom: -4px;
          left: 0;
          content: '';
          width: 100%;
          height: 1px;
          background: rgb(58, 58, 58);
          transform: scale(0, 1);
          transform-origin: left top;
          transition: transform .4s;
        }
        &-btn:hover::after{
          transform: scale(1, 1);
        }
      }
    }
  }
}
.main_footer-bottom{
  margin: 0;
  background: rgb(201, 198, 193);
  text-align: center;
  font-size: 11px;
  padding-bottom: 10px;
}