.container {
  position: relative;
  width: 100%;
  header {
    opacity: 1;
  }
  .top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
    &_logo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      z-index: 100;
      width: 500px;
      &-name {
        text-align: center;
        font-size: 80px;
        color: rgb(253, 250, 243);
        font-family: 'Courier New','fantasy';
      }
    }
    &_logoarea {
      width: 100%;
      padding-bottom: 32.5%;
      background: 0 0;
      margin: 0;
      img{
        vertical-align: bottom;
      }
      &-image {
        transform: translate(0%, -50%) matrix(1, 0, 0, 1, 0, 20);
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: auto;
      }
    }
  }
  .fake{
    width: 100%;
    padding-bottom: 32.5%;
    background: 0 0;
  }
  .main{
    z-index: 15px;
    position: relative;
    width: 100%;
    padding-top: 72px;
    padding-bottom: 180px;
    background:  rgb(248, 246, 242);
    transition: background .3s ease 0s;
    &_header{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 72px;
      margin: 0 auto;
      transition: height 0s ease 0s, opacity .4s, ease 0s;
      z-index: 200;
      overflow: hidden;
      &-title{
        display: block;
        position: absolute;
        top: 36px;
        left: 36px;
        font-size: 26px;
        line-height: 0;
        font-family: 'Courier New','fantasy';
        &logo{
          text-decoration: none;
          color: rgb(87, 86, 83);
          transition: 0.7s;
          opacity: 0;
        }
        &logotop{
          transition: 1.0s;
          opacity: 1;
        }
      }
      &-link{
        position: relative;
        width: 100%;
        .bnav{
          position: absolute;
          top: 28px;
          right: 420px;
          line-height: 0;
          &-options{
            .bnav_items{
              display: inline;
              font-family: 'Cormorant Upright',serif;
              line-height: 1.1;
              letter-spacing: .04em;
              -webkit-transition: all .2s ease 0s;
              transition: all .2s ease 0s;
              .item{
                position: relative;
                padding-bottom: 3px;
                color: #C0C0C0;
                -webkit-transition: color .25s cubic-bezier(.215,.61,.355,1) 0s;
                transition: color .25s cubic-bezier(.215,.61,.355,1) 0s;
                z-index: 1;
                }
              .item:hover {
                color: #6b6b71;
                }
              .item:after{
                position: absolute;
                bottom: -4px;
                left: 0;
                content: '';
                width: 100%;
                height: 1px;
                background: #6b6b71;
                transform: scale(0, 1);
                transform-origin: left top;
                transition: transform .4s;
                }
              .item:hover::after{
                transform: scale(1, 1);
              }
              }
            .bnav_items:not(:last-child){
              margin-right: 35px;
            }
          }
        }
        .bsearch{
          position: absolute;
          top: 29px;
          right: 34px;
          width: 176px;
          .search{
            .bsearch_input:placeholder-shown{
              font-family: 'Cormorant Upright',serif;
              font-size: 1rem;
              letter-spacing: .03em;
              line-height: 1.1;
            }
            .bsearch_input{
              display: block;
              border: none;
              width: 154px;
              float: right;
              margin-right: 24px;
              padding-bottom: 2px;
              border-bottom: 1px solid #bbc1c2;
              vertical-align: middle;
              line-height: 1.2;
              color: #8a8a8a;
              cursor: pointer;
              outline: none;
              font-size: 14px;
              font-size: 1.4rem;
              -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;
              border-radius: 0;
              -webkit-transition: width .3s cubic-bezier(.215,.61,.355,1) 0s,color .3s ease 0s,border-color .3s ease 0s;
              transition: width .3s cubic-bezier(.215,.61,.355,1) 0s,color .3s ease 0s,border-color .3s ease 0s;
              background: 0 0;
            }
            .bsearch_input:focus{
              width:120%;
            }
            .bsearch_input:focus::placeholder{
              color: transparent;
            }
            .bsearch_btn{
              position: absolute;
              top: 50%;
              right: -999px;
            }
            .search_icon{
              z-index: 300;
            }
            .fa-search{
              position: absolute;
              top: 10%;
              right: 0;
              color: #8a8a8a;
              cursor: pointer;
            }
          }
        }
      }
      .b-header{
        background:  rgb(248, 246, 242);
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        -webkit-transition: background .2s ease 0s,opacity .2s ease-out 0s;
        transition: background .2s ease 0s,opacity .2s ease-out 0s;
      }
      .snav{
        position: absolute;
        top: 28px;
        right: 310px;
        line-height: 1.1;
        letter-spacing: 0;
        -webkit-transition: all .2s ease 0s;
        transition: all .2s ease 0s;
        &-options{
          .snav_icon{
            display: inline-block;
            margin-right: 15px;
            .fab {
              color: #C0C0C0;
            }
            .fab:hover {
              color: #6b6b71;
            }
          }
        }
      }
    }
    &_header-s{
      position: fixed;
    }
    &_content{
      position: relative;
      width: 100%;
      margin: 0 auto;
      height: 800px;
      &-box{
        max-width: 994px;
        margin: 0 auto;
        background: khaki;
        .article-list{
          margin-top: 10rem;
          .article{
            visibility: visible;
            animation-duration: 1.8s;
            animation-delay: 0.2s;
            animation-name: fadeIn;
            &-image{
              position: relative;
              width: 55.82822%;
              background: 50% 50%/cover no-repeat;
              z-index: 1;
              .image{
                width: 100%;
                height: auto;
              }
            }
            &_text-box{
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-orient: horizontal;
              -webkit-box-direction: normal;
              -ms-flex-flow: row wrap;
              flex-flow: row wrap;
              -ms-flex-line-pack: justify;
              align-content: space-between;
              width: 39.8773%;
              line-height: 1.1;
              z-index: 1;
              &-top{
                .article_logo{
                  position: absolute;
                  top: -27px;
                  left: 31px;
                  font-family: 'Cormorant Upright',serif;
                  font-size: 50px;
                  font-size: 4rem;
                  line-height: 1.1;
                  color: #808085;
                  z-index: 10;
                }
              }
              &-bottom{

              }
            }
          }
          .b-article{
            position: relative;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-flow: row wrap;
            flex-flow: row wrap;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            padding: 8px 15px;
            max-width: 994px;
            margin: 0 auto;
            line-height: 0;
            cursor: pointer;
          }
        }
      }
    }
  }
}