.container {
  position: relative;
  width: 100%;
  background: red;
  header {
    opacity: 1;
  }
  .top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
    &_logo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      z-index: 100;
      width: 500px;
      &-name {
        text-align: center;
        font-size: 80px;
        color: #fff;
        font-family: 'Courier New','fantasy';
      }
    }
    &_logoarea {
      width: 100%;
      padding-bottom: 32.5%;
      background: 0 0;
      img{
        vertical-align: bottom;

      }
      &-image {
        transform: translate(0%, -50%) matrix(1, 0, 0, 1, 0, 0);
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: auto;
      }
    }
  }
}