// form用のタイトルロゴ
.newpost_title{
  position: fixed;
  top: 21px;
  left: 36px;
  z-index: 200;
  font-family: 'Courier New','fantasy';
  &logo{
    color: #575653;
    font-size: 26px;
  }
}

// サイドバーより下にformを表示させる為
.dammy_block{
  height: 72px;
}

.post_form{
margin: 0 auto;
width: 900px;
  .post_title{
    display: block;
    
  }
  .post_image{
    display: block;
  }
  .post_text{
    display: block;
  }
}
