
// form用のタイトルロゴ
.newpost_title{
  position: fixed;
  top: 21px;
  left: 36px;
  z-index: 200;
  font-family: 'Courier New','fantasy';
  &logo{
    color: #575653;
    font-size: 26px;
  }
}

// サイドバーより下にformを表示させる為
.dammy_block{
  height: 72px;
}
.post{
  margin: 0 auto;
  width: 1000px;
  height: 890px;
  &_form{
    margin: 0 auto;
    width: 900px;
    padding-top: 5px;
    .post_title{
      display: block;
      width: 830px;
      height: 40px;
      margin: 10px auto;
      border: none;
      padding: 0 10px;
    }
    .text_box{
      width: 850px;
      min-height: 100%;
      background: gainsboro;
      margin: 0 auto;
      .post_text{
        width: 640px;
        height: 740px;
        margin: 10px auto;
        padding: 10px ;
        resize: none;
        border: none;
      }
    }
  }
  .image_field{
    font-family: 'Courier New','fantasy';
    position: relative;
    width: 100%;
    &-info{
      position: absolute;
      top: 45%;
      left: 40%;
      color: #fff;
      font-size: 30px;
      user-select: none;
    }
    // 画像フォームの擬似ボタン
    // あとで投稿とコードをまとめる
    .image_area{
      font-family: 'Courier New','fantasy';
      display: block;
      width: 850px;
      height: 400px;
      margin: 0 auto;
      background: #fff;
      color: gray;
      text-align: center;
      line-height: 400px;
      font-size: 30px;
      object-fit: cover;
    }
    .image_form{
      display: none;
    }
    .image_form-btn{
      width: 150px;
      height: 30px;
      box-shadow: 0 2px 1px gray;
      text-align: center;
      border: 1px solid gray;
      font-family: 'Courier New','fantasy';
      line-height: 30px;
      margin: 10px 0 10px 25px;
      border-radius: 4px;
    }
    .image_form-btn:hover{
      background-color: rgb(223, 223, 221);
    }
    .image_form-btn:active{
      margin: 12px 0 8px 25px;
      box-shadow: 0 0 1px gray;
    }
  }

// 投稿の擬似ボタン
  .post_submit{
    display: none;
  }
  .post_submit-dammy{
    width: 150px;
    height: 30px;
    box-shadow: 0 2px 1px gray;
    text-align: center;
    border: 1px solid gray;
    font-family: 'Courier New','fantasy';
    line-height: 30px;
    margin: 10px 0 10px 25px;
    border-radius: 4px;
  }
  .post_submit-dammy:hover{
    background-color: rgb(223, 223, 221);
  }
  .post_submit-dammy:active{
    margin: 12px 0 8px 25px;
    box-shadow: 0 0 1px gray;
  }
}