// ランキング全体
.ranking_content{
  position: relative;
  width: 100%;
  margin-top: 60px;
  &-box{
    max-width: 994px;
    margin: 0 auto;
    padding-left: 20px;
    .ranking_name{
      position: absolute;
      top: -30px;
      left: 155px;
      font-family: 'Cormorant Upright',serif;
      font-size: 50px;
      font-size: 3rem;
      line-height: 1.1;
      color: #808085;
      z-index: 10;
    }
  }
}

// 各ランキング
.ranking_box{
  display: inline-block;
  width: 320px;
  margin: 0 auto;
  .ranking_number{
    width: 20px;
    height: 20px;
    color: #808085;
    border-radius: 50%;
    font-family: 'Cormorant Upright',serif;
    text-align: center;
  }
}