.show_main {
  padding-top: 72px;
  width: 100%;
  position: relative;
  &-article {
    width: 100%;
    &-image {
      position: relative;
      background-color: rgba(138, 138, 136, 0.562);
      width: 850px;
      height: 525px;
      margin: 0 auto;
      .show_image{
        object-fit: cover;
        opacity: 0.7;
      }
      .img_article{
        position: absolute;
        top: 210px;
        left: 245px;
        width: 360px;
        height: 105px;
        text-align: center;
        font-family: 'Courier New','fantasy';
        color: #fff;
        &-title{
          margin: 0.5em 0 0;
          font-size: 25px;
        }
        &-created{
          font-size: 13px;
          margin-bottom: 1.5em;
        }
        &-view{
          margin: 0.5em 0;
        }
      }
      // 後でまとめる
      .edit_btn{
        position: absolute;
        bottom: 10px;
        right: 70px;
        color: #fff;
        text-decoration: none;
        border: 1px solid #fff;
        padding: 2px 5px;
        border-radius: 5px;
        background-color: rgba(243, 243, 243, 0.192);
      }
      .delete_btn{
        position: absolute;
        bottom: 10px;
        right: 20px;
        color: #fff;
        text-decoration: none;
        border: 1px solid #fff;
        padding: 2px 5px;
        border-radius: 5px;
        background-color: rgba(243, 243, 243, 0.192);
      }
    }
    &-content{
      margin: 0 auto;
      width: 850px;
      .article_sns {
        width: 300px;
        margin: 0 auto;
        &-box{
          margin: 50px 0;
          // あとでまとめる
          .sns_icon-twitter{
            margin-left: 27px;
            display: inline-block;
            background: #1b95e0;
            width: 120px;
            height: 25px;
            text-align: center;
            color: ghostwhite;
            font-size: 11px;
            line-height: 25px;
            border-radius: 3px;
            .fa-twitter{
              font-size: 15px;
            }
          }
          .sns_icon-facebook{
            display: inline-block;
            background: #4267b2;
            width: 120px;
            height: 25px;
            text-align: center;
            color: ghostwhite;
            font-size: 11px;
            line-height: 25px;
            border-radius: 3px;
            .fa-facebook-square{
              font-size: 15px;
            }
          }
        }
      }
      // 線
      .article_border {
        width: 720px;
        margin: 0 auto;
        border-bottom: 0.5px solid gray;
      }
      .article {
        margin: 0 auto;
        width: 720px;
        padding-top: 50px;
        &_text{
          font-size: 14px;
          padding-bottom: 30px;
        }
        &_user{
          text-align: right;
          margin-bottom: 50px;
        }
        &_user a {
          color: black;
          border-bottom: 0.5px solid black;
        }
      }
    }
  }
}

// いいねボタン
.likebtn{
  display: none;
}
.likebtn_dammy{
  cursor: pointer;
  display: inline-block;
  border: 1px solid grey;
  padding: 3px 12px 3px 0;
  border-radius: 3px;
  box-shadow: 0 2px 0 0 gray;
  .fa-thumbs-up{
    display: inline-block;
    margin-left: 12px;
    color: grey;
  }
  &count{
    display: inline-block;
    color: grey;
  }
}
.likebtn_dammy:hover{
  background-color: rgb(223, 223, 221);
}
.likebtn_dammy:active{
  margin-top: 2px;
  box-shadow: 0 0 1px gray;
}

.like_on{
  border: 1px solid rgb(236, 216, 171);
  box-shadow: 0 2px 0 0 grey;
  background-color: rgb(231, 207, 205);
  .fa-thumbs-up{
    color: white;
  }
  .like_on-count{
    color: white;
  }
}
